<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>S2 QA PORTAL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet" href="/sqp.css">
    <link rel="stylesheet" href="/middle-section.css">


    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>


</head>

<body>
<!--<div style="width:200px">
    <video id="0" controls width="200px" height="360">
        <source src="http://ec2-34-250-251-240.eu-west-1.compute.amazonaws.com:8080/job/SAFARI_MacOS/lastSuccessfulBuild/artifact/webdriver-core-test/target/surefire-reports/video/didElementChangeDuringInterval_definedSimilarity_02-13-19_13-23-10.avi"/>
    </video>
</div>-->
<div class="jiraOverlay" style="display: block;">
    <div id="jiradiv" style="padding:50px">
        <button th:onclick="'return closeJiraOverlay();'" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p> A good place to handle Jira functionality?</p>
    </div>
</div>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div style="padding-top:5px; padding-bottom:5px;" class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <!--<img class="logo" src="/img/icons/kungfu_logo.png">-->
                        <p style="margin:0px; color:white;">TEST RESULT PORTAL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Start Status area -->
    <div style="margin:0px;" class="notika-status-area mg-tb-40">
        <div style="padding-left:0px;" class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--LEFT SECTION START-->
                <div style="background-color:#ffffff; box-shadow:1px 2px 10px 0px #c1c1c1; padding-right:4px; padding-left:4px;" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">




                    <div class="title-height col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px; margin-top:20px;">
                        <h3 data-toggle="dropdown" class="dropdown-toggle" id="main-section-title" style="cursor:pointer; float:left; padding-left:15px; margin:0;">All tests</h3><span style="cursor:pointer" class="caret"></span>
                        <ul style="top:0; left:0;" class="dropdown-menu arrange-dropdown-menu">
                            <li><a href="#">Failing</a></li>
                            <li><a href="#">Skipped</a></li>
                            <li><a href="#">Successful</a></li>
                        </ul>
                    </div>

                    <!--FAILINGS TESTS DIV START-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0; overflow-y: scroll; height:100vh" id="failing-tests-div">
                        <!-- TEST RESULT START -->
                        <!--<div th:onmouseover="|showIcons(${testCase.id})|" th:onmouseout="|hideIcons(${testCase.id})|" th:onclick="|openDetailsView(${iterStat.index})|" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="testCase,iterStat : ${testCases}">-->

                        <div class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="testCase,iterStat : ${testCases}">
                            <a th:href="@{/getChosenTestCase/{id}(id = ${testCase.id})}">
                            <!--<div style="margin-top:6px; position: relative; height:40px" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <img data-toggle="dropdown" class="dropdown-toggle statusicon" th:id="'statusicon'+${testCase.id}" src="/img/icons/goal.svg">-->
                                <!--<span data-toggle="dropdown" class="dropdown-toggle dot_notfixed" th:id="'statusicon'+${errorCase.id}"></span>-->
                               <!-- <ul style="top:0; right:0; left:0;" class="dropdown-menu status-dropdown-menu">
                                    <li th:onclick="'return setStatusNotFixed(\'mockedJSON' + ${testCase.id} + '\');'"><a id="notfixed-mockedJSON" href="#" style="color: red;">Not fixed</a></li>
                                    <li th:onclick="'return setStatusWorkingOn(\'mockedJSON' + ${testCase.id} + '\');'"><a id="workingon-mockedJSON" href="#" style="color: orange;">Working on</a></li>
                                    <li th:onclick="'return setStatusResolved(\'mockedJSON' + ${testCase.id} + '\');'"><a id="resolved-mockedJSON" href="#" style="color: green;">Resolved</a></li>
                                </ul>

                            </div>-->

                            <!---MAIN DIV-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-horizontal-padding">

                                <!--RESULT HEADER DIV ONE-->
                                <!--<div th:id="'test'+${testCase.id}" class="notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 testnames-inner no-shadow" style="display:flex; align-items: center; justify-content: center;" data-toggle="collapse" data-parent="#accordion" th:href="'#testCase' + ${testCase.id}" aria-expanded="false" aria-controls="collapseTwo">-->
                                <div th:id="'test'+${testCase.name}" class="notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 testnames-inner color-fail" style="display:flex; align-items: center; justify-content: center;">
                                    <div style="width:100%;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h5 style="text-overflow: ellipsis; overflow:hidden; margin-top:10px; margin-bottom:10px;" th:text="${testCase.name}">TEST NAME</h5>
                                    </div>


                                </div>
                                <!--RESULT HEADER DIV END-->
                                <!--RESULT DETAILED COLLAPSE DIV START-->
                                <!--<div th:id="'testCase'+${testCase.id}" class="panel-collapse collapse testresult-collapsable" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>Name</h5></div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><p style="word-break:break-word;" th:text="${testCase.name}"></p></div>

                                           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>Error Message</h5></div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><p th:text="${testCase.errorMessage}"></p></div>

                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>Jenkins URL</h5></div>
                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"><a style="word-break:break-word;cursor:pointer;" th:text="${testCase.testURL}"></a></div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>


                            <!--<div style="margin-top:6px; position: relative; height:40px" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <img data-toggle="dropdown" class="dropdown-toggle jiraicon" th:id="'jiraicon'+${testCase.id}" src="/img/icons/jira.png">-->
                                <!--<span data-toggle="dropdown" class="dropdown-toggle dot_notfixed" th:id="'statusicon'+${errorCase.id}"></span>-->
                                <!--<ul style="top:0; right:0; left:0;" class="dropdown-menu status-dropdown-menu">
                                    <li th:onclick="'return showJiraOverlay();'"><a id="notfixed" href="#">Create ticket</a></li>
                                    <li th:onclick="'return showJiraOverlay();'"><a id="workingon" href="#">Change ticket</a></li>
                                </ul>

                            </div>-->
                            <!--RESULT DETAILED COLLAPSE DIV END-->
                            </a>
                        </div>

                        <!-- TEST RESULT END -->
                    </div>
                    <!-- FAILING TEST DIV -->



                </div>
            <!--LEFT SECTION END-->
            <!--MIDDLE SECTION START-->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="padding-left:30px; padding-right:0px;">
                <div class="title-height col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px"></div>


                <div class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
                    <div class=" details-inner col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div id="overview-details" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 middle-section-title">
                            <h3 class="dropdown-toggle middle-section-title" style="cursor:pointer; padding-left:15px; padding-top:15px; float:left;margin:0;">OVERVIEW</h3>


                                <h3 data-toggle="dropdown" class="dropdown-toggle" style="cursor:pointer; float:right; padding-right:15px; padding-top:15px; margin:0;">SMOKE  <span style="cursor:pointer" class="caret"></span></h3>

                                <ul style="top:0; left:80%;right:0;" class="dropdown-menu arrange-dropdown-menu">
                                    <li><a href="#">- ALL - </a></li>
                                    <li><a href="#">SMOKE</a></li>
                                    <li><a href="#">NIGHT</a></li>
                                    <li><a href="#">WEEKEND</a></li>
                                    <li><a href="#">MORNING</a></li>
                                </ul>


                        </div>

                        <div id="details-container" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="table-responsive">
                                <table class="table" border="0" cellpadding="0" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>

                                        <th scope="col" th:each="date:${dates}"><span th:text="${date}">hwj</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>

                                    <!--/*@thymesVar id="testCaseData" type="se.soprasteria.s2qaportal.model.TestCaseData"*/-->
                                    <span th:each="caseData:${testCaseData}">
                                    <tr class="overview-row" >
                                        <th scope="row" class="no-horizontal-padding">
                                            <div id="jobname-div" class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" data-parent="#accordion" th:href="'#testJob' + ${caseData.testJob.id}" aria-expanded="false" aria-controls="collapseTwo">
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" th:switch="${caseData.testJob.platform}" style="padding:0px; height:30px">
                                                    <img th:case="'Chrome'" class="platform-image" src="/img/icons/Mac_Chrome.svg">
                                                    <img th:case="'iOS'" class="platform-image" src="/img/icons/iOS.svg">
                                                    <img th:case="'Android'" class="platform-image" src="/img/icons/Android.svg">
                                                    <img th:case="'Firefox'" class="platform-image" src="/img/icons/Mac_Firefox.svg">
                                                    <img th:case="'Safari'" class="platform-image" src="/img/icons/Mac_Safari.svg">
                                                    <img th:case="'Internet explorer'" class="platform-image"  src="/img/icons/Win_InternetExplorer.svg">
                                                    <img th:case="'Edge'" class="platform-image" src="/img/icons/Win_Edge.svg">
                                                </div>
                                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                    <span th:if="${caseData.testJob.device} != 'null'"><span th:text="${caseData.testJob.device}"></span></span>
                                                    <span th:unless="${caseData.testJob.device} != 'null'"><span th:text="${caseData.testJob.OS}"></span></span>
                                                    <span id="arrow-down"><img style="width:20px; float:right;" class="arrow-image" src="/img/icons/angle-arrow-down.svg"></span>
                                                </div>
                                            </div>
                                        </th>





                                        <td style="height:30px; width:30px;" th:each="testRunScheduleObject, iterStat:${caseData.testRunScheduleDataList}">
                                            <!--<div th:each="hashMap:${testRunScheduleObject.testRunStatusList}" th:switch="${testRunScheduleObject.hasData}">-->
                                            <!--<div style="background-color:red; height:50px; width:50px;" th:switch="${testRunScheduleObject.testRunStatusList[0].get('testrun_status')}">-->


                                            <div th:switch="${testRunScheduleObject.hasData}" style="height:30px; width:30px;">
                                            <span th:case="true">
                                                <div style="width:100%; height:100%;" th:switch="${testRunScheduleObject.testRunStatusList[0].get('testrun_status')}">
                                                    <a th:href="@{/getChosenTestRun/{id}(id = ${testRunScheduleObject.testRunStatusList[0].get('testrun_id')})}">
                                                    <img th:case="'passed'" class="test-status-icon" src="/img/icons/passed.svg">
                                                    <img th:case="'skipped'" class="test-status-icon" src="/img/icons/share.svg">
                                                    <img th:case="'failed'" class="test-status-icon" src="/img/icons/fail.svg">
                                                    <img th:case="'regression'" class="test-status-icon" src="/img/icons/delete.svg">
                                                    </a>
                                                </div>
                                               <!-- <div th:switch="${hashMap.get('testrun_status')}" style="background-color:red;">

                                                    <img th:case="'passed'" class="test-status-icon" src="/img/icons/passed.svg">
                                                    <img th:case="'skipped'" class="test-status-icon" src="/img/icons/next.svg">
                                                    <img th:case="'failed'" class="test-status-icon" src="/img/icons/fail.svg">
                                                    <img th:case="'regression'" class="test-status-icon" src="/img/icons/delete.svg">
                                                </div>-->
                                            </span>
                                            <span th:case="false"></span>
                                            </div>




                                        </td>
                                            <!--<span th:case="false" th:text="no run"></span></td>-->
                                    </tr>
                                        <tr>
                                            <td colspan="8" style="padding:0px;">

                                                <div th:id="'testJob'+${caseData.testJob.id}" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="padding:0px; margin:0px; width:100%">
                                                    <table style="width:100%; padding:0px; margin:0px;">
                                                        <tbody style="vertical-align: top;">
                                                            <tr>
                                                                <th scope="row" class="no-horizontal-padding">
                                                                    <div class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0px; height:30px"></div>
                                                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
                                                                    </div>
                                                                </th>
                                                                <td style="height:46px; width:46px; padding:8px;" th:each="testRunScheduleObject:${caseData.testRunScheduleDataList}">
                                                                    <div th:each="hashMap,iterStat:${testRunScheduleObject.testRunStatusList}" th:switch="${testRunScheduleObject.hasData}">
                                                                    <!--<div style="background-color:red; height:50px; width:50px;" th:switch="${testRunScheduleObject.testRunStatusList[0].get('testrun_status')}">-->
                                                                    <!--<div th:switch="${testRunScheduleObject.hasData}" style="height:30px; width:30px;">-->
                                                                        <span th:case="true">
                                                                            <div th:if="${iterStat.index != 0}" style="width:30px; height:30px; margin-bottom:8px;" th:switch="${hashMap.get('testrun_status')}">
                                                                                <a th:href="@{/getChosenTestRUn/{id}(id = ${testRunScheduleObject.testRunStatusList[0].get('testrun_id')})}">
                                                                                <img th:case="'passed'" class="test-status-icon" src="/img/icons/passed.svg">
                                                                                <img th:case="'skipped'" class="test-status-icon" src="/img/icons/share.svg">
                                                                                <img th:case="'failed'" class="test-status-icon" src="/img/icons/fail.svg">
                                                                                <img th:case="'regression'" class="test-status-icon" src="/img/icons/delete.svg">
                                                                                </a>
                                                                            </div>
                                                                        </span>
                                                                        <span th:case="false"></span>
                                                                    </div>
                                                                </td>
                                                <!--<span th:case="false" th:text="no run"></span></td>-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </td>
                                        </tr>
                                    </span>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            
            <!--MIDDLE SECTION END-->
            


            <!--RIGHT SECTION START-->
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <div class="title-height col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px"></div>
                <div class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
                    <div class="test-run-details col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 middle-section-title">
                            <h3 class="dropdown-toggle" style="cursor:pointer; float:left; padding-left:15px; padding-top:15px; margin:0;">TEST RUN</h3>
                        </div>

                        <div style="word-wrap:break-word; overflow-y:scroll;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="no-horizontal-padding col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="no-horizontal-padding col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <p>DURATION: <span th:text="${testRun.duration}"></span></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>
                            <p>STATUS: <span th:switch="${testRun.statusID}">
                                <span th:case="1">SKIPPED</span>
                                <span th:case="2">PASSED</span>
                                <span th:case="3">FAILED</span>
                                <span th:case="4">REGRESSION</span>
                                <span th:case="5">FIXED</span>
                            </span></p>
                            </div>

                            <div th:switch="${testRun.statusID}">
                                <div th:case="1"></div>
                                <div th:case="2"></div>
                                <div th:case="3">
                                    <h4>Error message</h4>
                                    <p th:text="${testRun.errorDetails}"></p>

                                    <h4>Stacktrace</h4>
                                    <p th:text="${testRun.errorStacktrace}"></p>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                        <video autoplay loop class="embed-responsive-item embed-responsive-16by9 controls" controls style="width:100%; height:auto;">
                                            <source src="https://app.testobject.com:443/api/rest/users/s2pigeon/projects/api-test/video/2498a4a5-0871-4153-869c-78ba8578e4ee.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                        <img src="/img/screenshots/screenshot_example.jpg">
                                    </div>
                                    </div>


                                </div>
                                <div th:case="4">
                                    <h4>Error message</h4>
                                    <p></p>

                                    <h4>Stacktrace</h4>
                                    <p></p>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                        <video autoplay loop class="embed-responsive-item embed-responsive-16by9 controls" controls style="width:100%; height:auto;">
                                            <source src="https://app.testobject.com:443/api/rest/users/s2pigeon/projects/api-test/video/2498a4a5-0871-4153-869c-78ba8578e4ee.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                                        <img src="/img/screenshots/screenshot_example.jpg">
                                    </div>
                                </div>
                                <div th:case="5"></div>



                            </div>





                        </div>
                        <!--<table id="details-table" width="100%" height="100%" style="margin:10px;" border="1px">
                            <tr id="table-column">
                                <td id="job-name"></td>
                                <td id="mockedJSON-status"></td>
                            </tr>
                        </table>-->
                    </div>
                </div>
                </div>
            <!--RIGHT SECTION END-->
        </div>
    </div>
    <!-- End Status area-->



    <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    


    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
<script th:inline="javascript">
    /*<![CDATA[*/

    var testCases = /*[[${testCases}]]*/ 'default';
    console.log(testCases);
    var htmlCodeToAdd = [];

    function openDetailsView(testCaseIndex){
       /* htmlCodeToAdd = [];
        htmlCodeToAdd.push("<table border='1' class='details-table'>");
        $("#details-container").css('display','block');
        var testCaseToView = testCases[testCaseIndex];
        for (i = 0; i < testCaseToView.testJobs.length; i++) {
            console.log(testCaseToView.testJobs[i]);
            var testJob = testCaseToView.testJobs[i];
            htmlCodeToAdd.push("<tr class='details-tr'><td class='details-td'>"+testJob.name+"</td>");
            for (y = 0; y < testJob.testRuns.length; y++) {
                var testRun = testJob.testRuns[y];

                var color;
                switch (testRun.status) {
                    case "PASSED":

                }
                htmlCodeToAdd.push("<td class='details-td'>"+testRun.status+"</td>");
        }
            htmlCodeToAdd.push("</tr>");
        }

        htmlCodeToAdd.push("</table>");
        $("#details-container").html(htmlCodeToAdd.join(""));*/

        /*


        $("#job-name").attr("th:text","${testJob.name}");
        $("#mockedJSON-status").attr("th:each","testRun:${testJob.testRuns}");
        $("#mockedJSON-status").attr("th:text","${testRun.status}");


        return false;*/

    }

    /*]]>*/
</script>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>


    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="/js/flot/jquery.flot.js"></script>
    <script src="/js/flot/jquery.flot.resize.js"></script>
    <script src="/js/flot/curvedLines.js"></script>
    <script src="/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="/js/knob/jquery.knob.js"></script>
    <script src="/js/knob/jquery.appear.js"></script>
    <script src="/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="/js/wave/waves.min.js"></script>
    <script src="/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="/js/chat/moment.min.js"></script>
    <script src="/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
	<!-- tawk chat JS
		============================================ -->
    <script src="/js/tawk-chat.js"></script>
    <script src="/js/dropdown.js"></script>
</body>

</html>